body{
    background:#1b1b1b;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.home-form{
    position:fixed;
    top:15px;
    left:15px;
}

.container{
    width:900px;
    margin:auto;
}

.card{
    display:flex;

    gap:20px;

    background:#2b2b2b;

    padding:20px;

    margin:20px 0;

    border-radius:12px;
}

.poster{
    width:180px;
    height:auto;

    border-radius:10px;
    flex-shrink:0;
}

.info{
    display:flex;

    flex-direction:column;

    justify-content:center;
}

h2{
    margin:0;
}

p{
    color:#d0d0d0;
}

.home-btn {
    padding: 15px 28px;
    
    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;

    background: #6d4494;

    color: #ffffff;
}

.home-btn:hover {
    background: #7c53a5;
}